RewriteEngine On

#staigasana pa mapem
Options -Indexes

#Force hide file extensions
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} \.php -f
#RewriteRule ^(.*)$ $1.php

#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} \.html -f
#RewriteRule ^(.*)$ $1.html

#Force WWW:
#RewriteCond %{HTTP_HOST} ^tests.local [NC]
#RewriteRule ^(.*)$ http://www.tests.local/$1 [L,R=301]

#Error pages
# kluda, ja lapa netiek atrasta
ErrorDocument 404 /error/not_found.php

#mapju staigasana / index.html
ErrorDocument 403 /error/forbidden.php